- name: Setup SSH
  run: |
    mkdir -p ~/.ssh
    echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
    chmod 600 ~/.ssh/id_rsa

- name: Deploy to EC2
  run: |
    ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa ubuntu@13.233.104.43 << 'EOF'
      docker pull kanav055/todo-app-backend:latest

      docker stop user_backend || true
      docker rm user_backend || true

      docker image prune -a -f

      docker run -d \
        --name user_backend \
        -p 3001:3001 \
        --restart unless-stopped \
        kanav055/todo-app-backend:latest
    EOF
